.banner {
    background-image: url(../../assets/images/servicesBanner.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.services {
    background: linear-gradient(96deg, #2596BE -0.99%, rgba(37, 150, 190, 0.50) -0.99%, rgba(172, 172, 172, 0.50) 100%);
}