input::file-selector-button {
  background-color: #a8d5e5;
  color: #717171;
  border: none;
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px;
}

input[type="file"] {
  color: #717171;
  text-transform: capitalize;
}

input::placeholder,
textarea::placeholder {
  color: #89939e;
}
